html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    /* border: 1px solid black;  */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vmin;
    gap: 1vmin;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vmin;
    height: 10vmin;
    text-align: center;
    font-size: 2.75vmin;
}

h1 {
    font-size: 3.25vmin; 
    margin: 0;
}

h2 {
    font-size: 2.2vmin;
    margin: 0;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vmin;
    height: 25vmin;
    text-align: center;
    font-size: 14vmin;
    background-color: #F4F6F6; 
}

.first-player {
    background-color: #FADBD8
}

.second-player {
    background-color: #D6EAF8
}

.available:hover {
    background-color: #E5E7E9;
}

button {
    font-size: 1.5vmin; 
    border: 0;
    padding: 1vmin 2vmin;
    background-color: #F4F6F6
}

button:hover {
    background-color: #E5E7E9
}

.play-again {
    background-color: #F7DC6F;
    font-weight: bold;
}